*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


#main {
width: 100%;
min-height: 100vh;
background-color: aquamarine;
display: flex;
flex-wrap: wrap;
}

.note{
width: 400px;
height: 400px;
background-color: azure;
margin: 20px;
margin-top: 70px;
}

.toolBar{
width: 100%;
background-color: black;
color:azure;
padding: 5px; 
display: flex;
justify-content: end;

}


#addBtn{
position: fixed;
right: 30px;
top: 25px;
background-color: #050505;
color: aliceblue;
cursor: pointer;
padding: 10px;
font-weight: 700;
border: none;
outline: 0;
border-radius: 2px;

}


.toolBar i{
    padding: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.note .txt {
font-size: 20px;
font-weight: 600;
padding: 10px;
}

.note .txt:focus{
    border: 0;
    outline: 0;

}

